.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards div {
    flex-basis: 20%;
    margin: 20px 5px;
    transition: 300ms;
    min-width: 205px;
}

.cards > div:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.inputs {
    display: flex;
    justify-content: center;
}

.inputs div {
    margin: 5px 10px;
    flex-basis: 30%;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
}