.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards div {
    flex-basis: 20%;
    margin: 20px 5px;
    transition: 300ms;
    min-width: 205px;
}

.cards > div:hover {
    transition: 300ms;
    transform: scale(1.1);
}